//pc container
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
//pad container
.container {
    @include pad() {
        max-width: 720px;
    }
}
//mobile container
.container {
    @include mobile() {
        max-width: 372px;
    }
}
