/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

@media (max-width: 992px) {
  .container {
    max-width: 720px; } }

@media (max-width: 767px) {
  .container {
    max-width: 372px; } }

.header {
  background-color: #aa0601;
  position: relative;
  position: fixed;
  z-index: 99;
  width: 100%; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .logo a {
    background-image: url(../images/logo-white.png);
    display: block;
    width: 80px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden; }
  .header .logo a:hover {
    opacity: 0.7; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu li:not(:last-child) {
      padding-right: 48px; }
    .header .menu a {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      display: block;
      padding-top: 25px;
      padding-bottom: 25px; }
    .header .menu a:hover {
      opacity: 0.7; }
  .header .show-menu {
    color: #fff;
    cursor: pointer;
    display: none; }

@media (max-width: 767px) {
  .header .menu {
    background: #aa0601;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 80px;
    left: 0;
    width: 100%;
    -webkit-transition: max-height 2.5s;
    -o-transition: max-height 2.5s;
    transition: max-height 2.5s; }
    .header .menu li {
      padding: 10px 0;
      border-top: 2px solid #fff; }
    .header .menu li:not(:last-child) {
      padding-right: 0; }
    .header .menu a {
      color: #fff;
      text-align: center; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .header .menu a {
        padding-top: 5px;
        padding-bottom: 5px; } }

@media (max-width: 767px) {
  .header .show-menu {
    display: block;
    margin: 20px 0;
    font-size: 40px; } }

@media (max-width: 767px) {
  .open-menu .menu {
    max-height: 400px; } }

.footer {
  background: #aa0601; }
  .footer .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    margin-bottom: 36px; }
  .footer .f-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .f-menu li:not(:last-child) {
      margin-right: 48px; }
    .footer .f-menu a {
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 400; }
    .footer .f-menu a:hover {
      opacity: 0.7; }
  .footer .f-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .f-icon li:not(:last-child) {
      margin-right: 32px; }
    .footer .f-icon img {
      width: 48px;
      height: 48px; }
    .footer .f-icon img:hover {
      opacity: 0.7; }
  .footer .contact {
    padding-bottom: 31px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px; }
    .footer .contact li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .contact .tel-icon {
      margin-bottom: 8px; }
    .footer .contact a {
      color: #fff;
      font-size: 36px; }
    .footer .contact a:hover {
      opacity: 0.7; }
    .footer .contact .material-icons {
      color: #fff;
      font-size: 36px;
      margin-right: 22px; }
  .footer .mobile-f-icon {
    display: none; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    padding-bottom: 32px; }
    .footer .copyright .privacy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .copyright li:not(:last-child) {
      margin-right: 48px; }
    .footer .copyright a {
      font-size: 14px;
      display: block;
      color: #fff; }

@media (max-width: 992px) {
  .footer .navbar {
    padding-top: 56px;
    margin-bottom: 32px; } }

@media (max-width: 992px) {
  .footer .f-icon li:not(:last-child) {
    margin-right: 16px; } }

@media (max-width: 992px) {
  .footer .f-icon img {
    width: 40px;
    height: 40px; } }

@media (max-width: 992px) {
  .footer .copyright {
    padding-bottom: 40px; } }

@media (max-width: 767px) {
  .footer .navbar {
    display: none; } }

@media (max-width: 767px) {
  .footer .mobile-f-icon {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .footer .mobile-f-icon li:not(:last-child) {
    margin-right: 8px; } }

@media (max-width: 767px) {
  .footer .mobile-f-icon img {
    width: 24px;
    height: 24px; } }

@media (max-width: 767px) {
  .footer .mobile-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 23px;
    margin-bottom: 16px;
    border-bottom: 1px solid #fff; } }

@media (max-width: 767px) {
  .footer .contact {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .footer .contact a {
    font-size: 16px; } }

@media (max-width: 767px) {
  .footer .contact .material-icons {
    font-size: 18px;
    margin-right: 8px; } }

@media (max-width: 767px) {
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 24px; } }

@media (max-width: 767px) {
  .footer .copyright p {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .footer .copyright .privacy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .footer .copyright .privacy li:not(:last-child) {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .footer .copyright .privacy a {
    font-size: 16px; } }

.banner {
  padding-top: 80px;
  background-image: url(../images/home-header.png);
  height: 100vh;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/home-header-sm.png); } }
  .banner .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    height: 100%; }
    .banner .banner-content h2 {
      font-size: 36px;
      color: #650300; }
      @media (max-width: 767px) {
        .banner .banner-content h2 {
          font-size: 16px; } }
    .banner .banner-content p {
      font-size: 64px;
      color: #650300;
      font-weight: 700;
      margin-bottom: 4px; }
      @media (max-width: 767px) {
        .banner .banner-content p {
          font-size: 24px;
          margin-bottom: 8px; } }
    .banner .banner-content a {
      background-color: #aa0601;
      display: block;
      width: 104px;
      height: 40px;
      color: #fff;
      font-size: 20px;
      padding: 6px 12px; }
    .banner .banner-content a:hover {
      color: #000; }

.service {
  background: #fbf2f2; }
  .service .container {
    padding-top: 80px;
    padding-bottom: 80px; }
    @media (max-width: 767px) {
      .service .container {
        padding-top: 40px;
        padding-bottom: 40px; } }
  .service h2 {
    text-align: center;
    font-size: 48px;
    color: #650300;
    font-weight: 700;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .service h2 {
        font-size: 24px; } }
  .service .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 24px; }
    @media (max-width: 992px) {
      .service .service-item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .service .service-item li {
      width: 25%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .service .service-item li {
          width: calc(50% - 12px); } }
      @media (max-width: 767px) {
        .service .service-item li {
          width: 100%; } }
    .service .service-item h4 {
      color: #650300;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px; }
    .service .service-item img {
      width: 100px;
      height: 100px;
      margin-bottom: 16px; }

.classic {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 767px) {
    .classic {
      margin-top: 40px;
      margin-bottom: 40px; } }
  .classic h2 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .classic h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .classic .classic-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
    @media (max-width: 992px) {
      .classic .classic-item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .classic .classic-item li {
      width: 33.33333%; }
      @media (max-width: 992px) {
        .classic .classic-item li {
          width: 100%; } }
    .classic .classic-item img {
      margin-bottom: 8px; }
      @media (max-width: 992px) {
        .classic .classic-item img {
          max-width: calc(50% - 12px); } }
      @media (max-width: 767px) {
        .classic .classic-item img {
          max-width: 100%; } }
    .classic .classic-item h3 {
      font-size: 48px;
      font-weight: 900;
      color: #aa0601; }

.design {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 992px) {
    .design {
      background-image: url(../images/index-bg-sm.png); } }
  @media (max-width: 767px) {
    .design {
      padding-bottom: 40px;
      padding-top: 40px;
      margin-bottom: 40px; } }
  .design h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .design h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .design .design-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .design .design-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px; } }
    .design .design-item li {
      background-color: #fff;
      width: 50%; }
      @media (max-width: 992px) {
        .design .design-item li {
          width: 100%; } }
    .design .design-item h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 48px;
      font-weight: 900;
      color: #aa0601; }

.customer-reco {
  text-align: center;
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .customer-reco {
      margin-bottom: 40px; } }
  .customer-reco h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    color: #650300; }
    @media (max-width: 767px) {
      .customer-reco h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .customer-reco .customer-reco-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
    @media (max-width: 992px) {
      .customer-reco .customer-reco-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .customer-reco .customer-reco-list li {
      width: 25%;
      border: 1px solid #e0e0e0;
      border-radius: 4px 4px 0px 0px;
      -webkit-box-shadow: 0 5px 5px #d0d0d0;
              box-shadow: 0 5px 5px #d0d0d0;
      position: relative; }
      @media (max-width: 992px) {
        .customer-reco .customer-reco-list li {
          width: 48%; } }
      @media (max-width: 767px) {
        .customer-reco .customer-reco-list li {
          width: 98%; } }
    .customer-reco .customer-reco-list li:hover {
      -webkit-box-shadow: 0 5px 5px #6c6c6c;
              box-shadow: 0 5px 5px #6c6c6c; }
    .customer-reco .customer-reco-list .text {
      text-align: left;
      padding-left: 8px;
      padding-right: 8px; }
      @media (max-width: 992px) {
        .customer-reco .customer-reco-list .text {
          padding: 16px; } }
    .customer-reco .customer-reco-list h4 {
      margin-bottom: 8px;
      font-weight: 500; }
    .customer-reco .customer-reco-list p {
      margin-bottom: 96px; }
    .customer-reco .customer-reco-list time {
      font-size: 14px;
      color: #707070;
      position: absolute;
      bottom: 16px; }

.contact-us {
  background-color: #fbf2f2;
  padding: 80px 0 32px 0; }
  @media (max-width: 767px) {
    .contact-us {
      padding: 40px 0 16px 0; } }
  .contact-us .container {
    max-width: 660px; }
    @media (max-width: 992px) {
      .contact-us .container {
        max-width: 576px; } }
    @media (max-width: 767px) {
      .contact-us .container {
        max-width: 348px; } }
  .contact-us h2 {
    font-size: 48px;
    margin-bottom: 48px;
    color: #650300;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 767px) {
      .contact-us h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .contact-us p {
    font-size: 20px;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .contact-us p {
        font-size: 16px; } }
  .contact-us .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 767px) {
      .contact-us .contact-form .agree label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .contact-us .contact-form label {
      margin-bottom: 8px;
      display: block; }
    .contact-us .contact-form input,
    .contact-us .contact-form textarea {
      margin-bottom: 16px;
      background: none;
      border: 1px solid #000;
      padding: 6px 0 6px 12px; }
    .contact-us .contact-form .btn {
      margin: 48px auto;
      display: block;
      background: #aa0601;
      color: #fff;
      width: 65%;
      border: none;
      padding: 16px 0;
      text-align: center;
      font-weight: 700;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0; }
      @media (max-width: 767px) {
        .contact-us .contact-form .btn {
          margin: 24px auto;
          width: 100%; } }
    .contact-us .contact-form .btn:hover {
      opacity: 0.8; }

.faq-content {
  padding-top: 176px;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .faq-content {
      padding-top: 160px; } }
  @media (max-width: 767px) {
    .faq-content {
      padding-top: 120px;
      margin-bottom: 64px; } }
  .faq-content h2 {
    font-size: 48px;
    font-weight: 700;
    padding-left: 8px;
    margin-bottom: 32px;
    border-left: 8px solid #9f1213; }
    @media (max-width: 767px) {
      .faq-content h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .faq-content h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px; }
  .faq-content li:not(:last-child) {
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .faq-content li:not(:last-child) {
        margin-bottom: 24px; } }
  .faq-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px; }

.product {
  padding-top: 80px; }
  @media (max-width: 992px) {
    .product {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0; } }
  .product .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product .product-list li {
      width: 33.3333%;
      border: 1px solid #dcdcdc; }
    .product .product-list a {
      display: block;
      text-align: center;
      padding: 24px 0;
      color: #000;
      font-size: 32px; }
      @media (max-width: 992px) {
        .product .product-list a {
          font-size: 24px;
          padding: 16px 0; } }
      @media (max-width: 767px) {
        .product .product-list a {
          font-size: 16px; } }
    .product .product-list a:hover {
      border-bottom: 8px solid #aa0601;
      padding-bottom: 16px; }
      @media (max-width: 992px) {
        .product .product-list a:hover {
          padding-bottom: 8px; } }

.optical-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  .optical-header img {
    width: 50%; }
  @media (max-width: 992px) {
    .optical-header .optical-header-pic {
      content: url(../images/product-header-sm-1.png); } }
  @media (max-width: 992px) {
    .optical-header .optical-header-pic2 {
      content: url(../images/product-header-sm-2.png); } }

.product-optical {
  text-align: center;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    .product-optical {
      margin-bottom: 64px; } }
  .product-optical h2 {
    font-size: 42px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .product-optical h2 {
        font-size: 24px; } }
  .product-optical h3 {
    font-size: 32px;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .product-optical h3 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .product-optical .optical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px; }
  .product-optical .optical-list {
    width: 23%;
    margin-bottom: 56px; }
    @media (max-width: 992px) {
      .product-optical .optical-list {
        width: 48%;
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .product-optical .optical-list {
        width: 98%;
        margin-bottom: 0; } }
    .product-optical .optical-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 24px; }
      .product-optical .optical-list ul .price {
        color: #aa0601; }
    .product-optical .optical-list .block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .product-optical .optical-list .block .brown {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #5f3e2d;
        margin-right: 8px; }
      .product-optical .optical-list .block .red {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #b75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .pagination {
      margin-bottom: 64px; } }
  .pagination .page-item {
    border: 1px solid #555555; }
    .pagination .page-item a {
      display: block;
      padding: 11px 12px;
      font-size: 19px;
      color: #555555; }
      @media (max-width: 767px) {
        .pagination .page-item a {
          font-size: 16px; } }
    .pagination .page-item a:hover {
      background: #000; }
    .pagination .page-item .page-link:hover {
      color: #fff; }
  .pagination .page-item:last-child {
    background: #f2f2f2; }

.store {
  padding-top: 176px;
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .store {
      padding-top: 120px;
      margin-bottom: 96px; } }
  .store h2 {
    font-size: 48px;
    font-weight: 700;
    padding-left: 8px;
    border-left: 8px solid #9f1213;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .store h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .store .zone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 46px; }
    @media (max-width: 992px) {
      .store .zone {
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .store .zone {
        margin-bottom: 24px; } }
    .store .zone label {
      font-size: 24px;
      margin-right: 16px; }
      @media (max-width: 767px) {
        .store .zone label {
          font-size: 16px;
          margin-right: 8px; } }
    .store .zone .select-zone {
      width: 304px;
      padding: 6px 0 6px 12px;
      border-radius: 0; }
      @media (max-width: 767px) {
        .store .zone .select-zone {
          width: 276px;
          font-size: 17px; } }
  .store .store_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px; }
    .store .store_list .store_list_item {
      border: 1px solid #00000020;
      width: 30.33333%; }
      @media (max-width: 992px) {
        .store .store_list .store_list_item {
          width: 46%; } }
      @media (max-width: 767px) {
        .store .store_list .store_list_item {
          width: 98%; } }
    .store .store_list h4 {
      font-size: 24px;
      padding: 8px 0 7px 24px;
      border-bottom: 1px solid #00000020;
      margin-bottom: 16px; }
    .store .store_list .info-btn {
      display: block;
      background: #000;
      color: #fff;
      text-align: center;
      font-size: 19px;
      padding: 16px 0; }
    .store .store_list .info-btn:hover {
      background: #aa0601; }
  .store .info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    margin-left: 24px;
    margin-bottom: 8px;
    margin-right: 24px;
    gap: 8px; }
    @media (max-width: 767px) {
      .store .info li {
        margin-left: 27px;
        margin-bottom: 16px; } }
    .store .info li .material-icons {
      margin-right: 8px; }

.store-info {
  margin-bottom: 64px; }

.store-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  @media (max-width: 992px) {
    .store-info-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .store-info-list .store_list_item {
    border: 1px solid #00000020;
    width: 39%; }
    @media (max-width: 992px) {
      .store-info-list .store_list_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 24px;
        width: 100%;
        border: none; } }
    @media (max-width: 767px) {
      .store-info-list .store_list_item {
        display: inline;
        border: 1px solid #00000020;
        width: 98%; } }
    @media (max-width: 992px) {
      .store-info-list .store_list_item img {
        width: 48%; } }
    @media (max-width: 767px) {
      .store-info-list .store_list_item img {
        width: 100%; } }
    @media (max-width: 992px) {
      .store-info-list .store_list_item .info {
        border: 1px solid #00000020; } }
    @media (max-width: 767px) {
      .store-info-list .store_list_item .info {
        border: none; } }
  .store-info-list h4 {
    font-size: 24px;
    padding: 8px 0 7px 24px;
    border-bottom: 1px solid #00000020;
    margin-bottom: 16px; }

/*# sourceMappingURL=all.css.map */
